.catalog-page{
    padding: 50px 0px;;
}

.catalog-name{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;    
    color: #0B0B0B;
}

.brand-popular-wrap{
    display: flex;;
    width: 1300px;;
}

.brand-popular-item{
    max-width: 147px;;
    margin-right: 13px;
    
}
.brand-popular-link{
    background-color: #fff;
    border: 1px solid #F1F2F6;
    border-radius: 7px;
    margin-right: 13px;
    width:147px;
    height: 190px;
    display: block;
    padding: 12px 21px 15px;
    &:hover{
      .brand-popular-img-wrap{
        transform: translateY(-6px);
      }
      .brand-popular-name{
        text-shadow: black 0px 0px 0px;
      }
    }
    
}

.brand-popular-name{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    transition: all ease 0.3s;
    color: #0B0B0B;
}

.brand-popular-img-wrap{
    // margin-bottom: 20px;
    margin: 0 auto 13px;
    max-width: 112px;
    transition: all ease 0.3s;
    height: 120px;
    border-radius: 10px;
    img{
        width: 100%;
        margin: auto;
    }

}


.brand-slider  .slick-slide {
    margin: 0 13px;
}

.wrp-filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

.sort-catalog {
    align-items: baseline;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
    option *{
        height: 20px;
    }
}

option{
    // color: red;
    padding: 10px;
}

.sort-catalog select {
    height: 30px;
    width: 100%;
}

.sort-catalog p{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;    
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;    
    color: #000000;
}

.sort-catalog img{
    width: 16px;
    margin-left: 10px;;
}

.sort-catalog p,
.sort-catalog select option {
    color: #222321;
}



.filter-line{

    display: flex;
    align-items: center;
    flex-flow: wrap;
}
.filter-header{
    margin-right: 15px;;
}


.sort-catalog {
    border: 1px solid #BEBEBE;
    cursor: pointer;
    line-height: 17px;
    align-items: center;
    display: flex;;
    text-transform: uppercase;
    justify-content: space-between;
    margin-right: 10px;
    height: 44px;;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    border-radius: 27px;;
    padding: 13px 19px 13px 29px;
    width: 247px;
    position: relative;
}

.sort-img{
    float: right;
    position: absolute;
    right: 20px;
}

.filter-item {
    border: 1px solid #BEBEBE;
    cursor: pointer;
    line-height: 17px;
    align-items: center;
    display: flex;;
    text-transform: uppercase;
    margin-right: 10px;
    height: 44px;;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    border-radius: 27px;;
    padding: 13px 19px 13px 29px;
       
    &:nth-child(2) {
        border-radius: 100%;
        padding: 0;
        width: 43px;
        height: 43px;
        min-width:43px;
        display: flex;
        align-items: center;
        img{
            display: block;
            width: 20px;
            height: 20px;
            margin: 0 auto;
        }
    }
    // &:not(:first-child){
    //     padding: 13px 19px 13px 29px;
    //     border-radius: 27px;;
    // }
    .num{
        width: 19px;
        height: 19px;
        background: #D9D9D9;
        border-radius: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        background: url('./../img/icons/ic_round-close.svg');
        display: flex;
        background-repeat: no-repeat;
        background-position: center center;
        align-items: center;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        margin-left: 6px;
        color: #393939;
        &:hover{
            filter: contrast(1.5)
        }
    }
}


.wrap-catalog-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
    .card{
        margin-bottom: 19px;;
        padding-top: 30px;;
        &:not(:nth-child(4)){
            margin-right: 19px;;
        }
    }
}

.group-catalog-buttons{
    display: flex;
    justify-content: space-between;
  }

 
.filter-right{
    transition: all 0.3s ease ;
    position: absolute;
    right: 0px;
    top:0px;
    transform: translateX(100%);
    background-color: #fff;
    width: 384px;
    height: 100%;
    padding: 60px 47px 50px 42px;
    z-index: 99;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    overflow: hidden;

    &.active{
        transform: translateX(0%);
        overflow: auto;

    }
    .hidden-mobile-submenu{
        label{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            display: flex;
            align-items: center;
            letter-spacing: 0.0155em;

            /* 2 */

            color: #0B0B0B;
            justify-content: flex-start;

        }
    }
    .mobile-main-menu .open-close{
            margin-right: 0px;
    }
}
.filter-right .mobile-main-menu a.nemu-name {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
}

.closeRightSidebar{
    position: absolute;
    right: 33px;
    top: 25px;
}

.filter-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #0B0B0B;
    margin-bottom: 49px;
    
}

.block-name{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    // text-transform: uppercase;
    /* 2 */
    color: #0B0B0B;
}



.info-right, .cart-right, .login-part{
    transition: all ease 0.3s;
    position: absolute;
    right: 0px;
    top:0px;
    transform: translateX(100%);
    background-color: #fff;
    width: 384px;
    height: 100%;
    padding: 40px 47px 50px 42px;
    z-index: 99;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    overflow: hidden;
    overflow: auto;
    z-index: 999999;
  
    &.active{
        transform: translateX(0%);
    }
    
  }
  
  
  .descr-name{
    font-style: normal;
    font-weight:700;
    font-size: 32px;
    line-height: 39px;
    color: #0B0B0B;
    margin-bottom: 32px;
  }
  
  .descr-text {
    margin-bottom: 46px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;   
    display: flex;
    align-items: center;
    letter-spacing: 0.0155em;
    color: #0B0B0B;
  }
  
  .right-info-list{
    list-style-type: disc;
    list-style: circle;
    margin-bottom: 40px;
    &-name{
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.0155em;
      text-transform: uppercase;
      color: #0B0B0B;    
    }
    &-item{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      align-items: center;
      letter-spacing: 0.0155em;    
      color: #000000;    
      list-style-type: disc;
      list-style-position: inside;
      span {
        font-weight: 600;
      }
    }
  
  }
  
  .cardInfoinCart{
    display: flex;
    justify-content: space-between;
    &-item{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      letter-spacing: 0.0155em;
      color: #666666;
    }
  }
  
  .cart-right{
    transition: all ease 0.3s;
    .card{
      margin: 0px auto 48px;
    }
    .card-top{
      margin-bottom: 10px;
      img{
        width: 100%;
      }
    }
    .card-name{
      margin-bottom: 2px;;
    }
    .submit-block{
      border-top: 1px dashed #C8C7C7;
      padding-top: 22px;
    }
    .sale{
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      align-items: center;
      color: #212121;
      text-align: center;
      margin: 0 auto 46px;
      width: 100%;
      span{
        color: #FF3737;
        padding-left: 5px;;
      }
    }
    .toPay{    
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      align-items: center;
      color: #0B0B0B;
    }
    .totalSum{
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      align-items: center;
      color: #0B0B0B;
      margin-bottom: 27px;
    }
    .form{
      margin-bottom: 22px;
      width: 100%;
      display: flex;
          justify-content: center;
      }
      .one-click-buy{
          margin: 0 auto;
          width: 100%;
          display: flex;
          justify-content: center;
      }
  }
  


/* Customize the label (the container) */
.wrap-checkbox {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding-left: 35px;
    height: 29px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #6F7682;


  }
  .wrap-checkbox .amount {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* identical to box height, or 24px */
    text-align: right;
    color: #636363;
    padding-left: 10px;
  }
  
  /* Hide the browser's default checkbox */
  .wrap-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #D2D2D2;
    border-radius: 2.4px;
  }
  
  /* On mouse-over, add a grey background color */
  .wrap-checkbox:hover input ~ .checkmark {
    background-color: rgb(228, 228, 228);
  }
  
  /* When the checkbox is checked, add a blue background */
  .wrap-checkbox input:checked ~ .checkmark {

    background: no-repeat center center url("./img/icons/check.svg");
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    height: 9px;
    left: 5px;
    top: 6px;
    width: 13px;
    background-color: #07B854;
    background-image:  url(".././img/icons/white-check.svg");
    background-size: cover;
    background-position: center;
  }
  
  /* Show the checkmark when checked */
  .wrap-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  .wrap-checkbox input:checked ~ .checkmark{
    border: 1px solid transparent;;
  }
  
  /* Style the checkmark/indicator */
  .wrap-checkbox .checkmark:after {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 2px;
  }
  

  .filter-btn {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .button:not(:last-child){
        margin-right: 10px;
    }
  }

  .filter-right .mobile-main-menu a.nemu-name {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
}

.closeRightSidebar{
    position: absolute;
    right: 33px;
    top: 25px;
}

.filter-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #0B0B0B;
    margin-bottom: 35px;    
}

.common-checks{
    margin-bottom: 35px;
}

.sidenav .mobile-main-menu a.nemu-name{
    font-weight: 600;
    display: flex;
     justify-content: space-between;
   }
   
   .open-close{
     width: 15px;
     height: 15px;
     position: relative;
     margin-right: 20px;;
     transition: all ease 0.3s;
   }
   
   .open-close:after{
     content: "";
     display: block;
     height: 1px;
     width: 100%;
     background-color: #000;
     position: absolute;
     top: 7px;
     transition: all ease 0.3s;
   }
   .open-close:before{
     content: "";
     display: block;
     height: 1px;
     width: 100%;
     background-color: #000;
     position: absolute;
     transform: rotate(90deg);
     transform-origin: center;
     top: 7px;
   }
   
   .hidden-mobile-submenu{
     height: 0px;
     visibility: hidden;
     opacity: 0;
    //  transition: all ease-in-out 0.3s;
   }
   
   .mobile-main-menu.open .hidden-mobile-submenu{
     height: 100%;
     visibility: visible;
     opacity: 1;
     margin-bottom: 35px;;
   }
   
   .nemu-name.open .open-close:before{
     transform: rotate(0deg);
     transform-origin: center;
   }

   .filter-right .mobile-main-menu.open a.nemu-name {
      margin-bottom: 20px;;
   }
   
.block-name{
    margin-bottom: 30px;
    font-style: normal;
    font-weight:600;
    font-size: 20px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    // text-transform: uppercase;
    /* 2 */
    color: #0B0B0B;
}

.noUi-connect, .noUi-origin , .noUi-base, .noUi-connects{
    height: 2px;
    background: #000;
}

.noUi-target {
    background: transparent;
    border-radius: 0px;
    border: 1px solid transparent;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    right: -17px;
    top: -11px;
}

.noUi-handle {
    border: 1px solid #000;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    height: 24px;
    border-radius: 100%;
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-handle:after, .noUi-handle:before{
    display: none;;
}

#steps-slider{
    margin-bottom: 18px;;
}

.slider-inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    input{
        height: 36px;
        border: 1px solid #E0E0E0;
        max-width: 35%;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #C9C9C9;
        padding-left: 11px;

    }
}

// .catalog-filter-item.price-range{
//     margin-bottom: 32px;
// }

// .filter-right .hidden-mobile-submenu li:last-child{
//     margin-bottom: 32px;
// }

@media screen and (max-width: 1300px){
  .wrap-catalog-block .card:not(:nth-child(4)) {
    margin-right:9px;
  }

  .wrap-catalog-block .card:nth-child(4) {
    margin-right: 9px;
  }
}


@media screen and (max-width: 1236px){  
  .wrap-catalog-block .card:not(:nth-child(4)) {
    margin-right: 19px;
  }

  .wrap-catalog-block .card:nth-child(4) {
    margin-right: 19px;
  }

  .wrap-catalog-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .card{
        min-width: 259px;
        width: initial;
      }
  }
  .filter-item {
      margin-bottom: 12px;
  }
}



@media screen and (max-width: 780px){
  .filter-header{
    display: none;
  }
  .filter-item{
    margin-bottom: 0px;;
  }
  .group-catalog-buttons{
    flex-direction: column;
    .empty-btn{
      margin: 0px auto 15px;
    }
  }
  .group-pages{
    justify-content: center;
  }
  .wrap-catalog-block .card:not(:nth-child(4)) {
    margin-right: 2px;
  }

  .wrap-catalog-block .card:nth-child(4) {
    margin-right: 2px;
  }
  .wrap-catalog-block .card:nth-child(2) {
    margin-right: 0px;
  }
  .wrap-catalog-block {

    .card{
      max-width: 201px;
      min-width: auto;
      margin: 0px 10px 10px;
    }
}
}

@media screen and (max-width: 500px){
  .wrap-catalog-block .card {
    margin: 0 10px 10px;
    max-width: 174px;
    min-width: auto;
}
}

@media screen and (max-width: 420px){
  .wrap-catalog-block .card {
    max-width: 100%;;
    width: 46%;
  }
  .card .wraps-tips {
    left: 8px;
  }
  .card .action, .card .hit, .card .season{
    font-weight: 500;
  }
  .wrap-catalog-block .card:not(:nth-child(4)), .wrap-catalog-block .card:nth-child(4){
    margin-right: 0px;;
  }
  .wrap-catalog-block .card {
    margin: 0 4px 4px;
    max-width: 174px;
    min-width: auto;
    padding: 30px 10px;
  }
}

@media screen and (max-width: 390px){
  .catalog-page .prices {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .card .wraps-tips {
    left: 4px;
  }
}