@use '../helpers'as h;
@use '../components';

.l-header {
  position: relative;
  z-index: 9;
  &:after{
    content: "";
    display: block;
    height: 2px;
    width: 94%;
    position: absolute;
    bottom: 0px;
    left: 47px;
    border-bottom: 1px solid #BEBEBE;
  }
  &.main-header{
    background-color: #fff;
    &:after{
      border-bottom: none;;
    }
    .cart-amount{
      border: 3px solid #fff;
    }
  }
  &.no-line{
    &:after{
      border-bottom: none;;
    }
  }
}



.menu-line {
  height: 108px;
  display: flex;
  justify-content: space-between;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  padding: 0 43px 0 50px;
  position: relative;
  // background: #fff;

}

.open-menu {
  height: 22px;
  width: 31px;
  cursor: pointer;
  margin-right: 40px;

  &:hover {
    span {
      background-color: #000;
    }
  }

  span {
    transition: all ease 0.3s;
    display: block;
    width: 100%;
    height: 2px;
    // border-bottom: 2px solid #727272;        
    background-color: #727272;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.logo-link {
  width: 55px;
  height: 44px;
  margin-right: 53px;

  img {
    width: 100%
  }
}

.brands-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands-line-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #0B0B0B;
  margin-right: 27px;
  // letter-spacing: 0.2px;

}

.top-margin{
  svg{

    margin-top: -10px;;
  }

}

.wrp-brand {
  height: 73px;
  margin-right: 19px;
  transition: 0.3s ease all;
  padding: 10px 15px;
  border-radius: 10px;
  &.kramer {
    svg {
      max-width: 212px;
      height: 61px;;
    }

  }

  img {
    width: 100%;
  }

  &:hover {
    background-color: red;

    svg path {
      fill: #fff;
    }
  }

  &.dark-back:hover {
    background-color: rgb(0, 0, 0);

    svg path {
      fill: #fff;
    }
  }
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  opacity: 0;
  left: -100%;
  background-color: #fff;
  transition: 0.3s;
  width: 369px;
  padding-left: 49px;
  padding-top: 96px;

  ul {
    // padding-left: 32px;
    margin-bottom: 67px;
  }
}

.menu-back-call {

  // padding-left: 32px;
  .clb-name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 31px;
    color: #0B0B0B;
    margin-bottom: 15px;
    ;
  }
}

.sidenav .list a {
  padding: 8px 8px 12px 0px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(54, 54, 54);
  display: block;
  transition: 0.4s;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #0B0B0B;
  transition: all ease 0.3s;
}

.sidenav .list a:hover {
  color: #1A984F;
}

.sidenav .closebtn {
  position: absolute;
  right: 17px;
  top: 16px;
  font-size: 36px;
  margin-left: 50px;
}

.clb-link {
  display: flex;
  font-style: normal;
  margin-bottom: 28px;

  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #0B0B0B;
  }

  &:hover {
    span {
      color: h.$second-accent;
    }
  }

  svg {
    max-width: 22px;
    margin-right: 15px;

    path {
      // fill: red;
    }
  }

}

.menu-btn {
  padding: 25px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: all ease 0.3s;

  svg {
    width: 22px;
    margin-right: 15px;
    ;

    path {
      // fill: rgba(223, 27, 5, 1);

    }
  }

}





@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav .list a {
    font-size: 18px;
  }
}


.main-menu,
.right-menu-info,
.left-menu {
  display: flex;
  align-items: center;
}

.right-menu-info {
  justify-content: flex-end;
}


.main-menu {
  &-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #0B0B0B;
    cursor: pointer;

    &:hover {
      color: #000;
      cursor: default;
    }

    &:not(:last-child) {
      padding-right: 42px;
      ;

    }

  }
}


.search-form {
  position: relative;
  margin-right: 37px;
  top: 6px;
}


input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}

form.search-bar {
  position: relative;
  // transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 42px;
  // background: rgb(167, 165, 165);
  box-sizing: border-box;
  border-radius: 25px;
  // border: 4px solid rgb(5, 5, 5);
  padding: 5px;
  margin-right: 17px;
  position: absolute;
  right: 140px;
  transition: all ease 0.3s;

}

form.search-bar input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 0px;
  padding: 0 34px 0px 26px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #fff;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0px;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  // background-image: url('../img/icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 21px;

  .search-icon {
    fill: #727272;
  }

}

// form.search-bar:hover,
// form.search-bar:valid {
//   width: 200px;
//   cursor: pointer;
// }

form.search-bar {
  &.active {
    width: 200px;
    cursor: pointer;
    input{    
      display: block;
      text-align: left;
      border: 1px solid #ccc;
    }

  }
}

.search::-ms-clear {
  width : 0;
  height: 0;
}
// form.search-bar:hover .fa,
// form.search-bar:valid .fa {
//   background-color: h.$accent-color;
//   color: white;
//   border-radius: 10px;

//   .search-icon {
//     fill: #fff;
//   }
// }

.fa-search{
  cursor: pointer;
  transition: 0.3s ease-in all;
  &:hover{
    svg{
      filter: contrast(6)

    }
  }
}

form.search-bar a {
  bottom: 0;
  color: #027cc2;
  display: none;
  font-size: 13px;
  left: 8px;
  position: absolute;
  right: auto;
  text-align: center;
  top: 16px;
  width: 12px;
  background: url(../img/icons/ic_round-close.svg);
  background-repeat: no-repeat;
  &:hover{
    filter: contrast(6);
  }
}

form.active.search-bar:valid a {
  display: block;
}







.personal-cabinet {
  height: 22px;
  width: 20px;
  background: url('../img/icons/User.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  //   margin-right: 40px;;
  &:hover{
    filter: contrast(6)
  }
}

.person-icon {
  height: 22px;
  display: block;
}

.cbinet-info-popup {
  display: none;
}

.personal-cabinet {
  position: relative;
}

.logged.active .right-menu-info {
  .cbinet-info-popup {
    position: absolute;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 15px;
    right: 33px;
    top: 65px;
    z-index: 99;
    width: 253px;

    .client-name {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #0B0B0B;
      margin-bottom: 10px;
      text-align: left;
    }

    .client-mail {
      font-style: normal;
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #6F7682;
      margin-bottom: 20px;
      ;
    }

    .settings-block {
      padding: 20px 0px;
      margin-bottom: 20px;
      border-top: 1px solid #BEBEBE;
      border-bottom: 1px solid #BEBEBE;

      a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #0B0B0B;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: all ease 0.3s;

        &:not(:last-child) {

          margin-bottom: 15px;
          ;
        }

        &:hover {
          color: #000;
          text-shadow: 0px 0px 0px #000;

          svg {
            fill: #000;
          }
        }
      }

      img {
        max-width: 21px;
        margin-right: 15px;

      }
    }

    .exit-link {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #6F7682;
      justify-content: space-between;
      transition: all ease 0.3s;

      &:hover {
        color: #000;
      }

      img {
        width: 24px;
        fill: #000;
      }
    }
  }
}

.cart-icon {
  width: 23px;
  height: 26px;
  background: url('../img/icons/bag.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-right: 39px;
  &:hover{
       filter: contrast(5);
       .cart-amount{
        filter: contrast(0.2);
       }
    // backdrop-filter: contrast(6);

    // &:not(.cart-amount){
    // }
  }
}

.cart-amount {
  align-items: center;
  background-color: h.$accent-color;
  border: 3px solid #eeeeee;
  border-radius: 100%;
  bottom: -5px;
  color: #fff;
  display: flex;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  padding: 3px;
  position: absolute;
  right: -8px;
  width: 10px;
  width: 23px;
  z-index: 9;
  display: flex;
  justify-content: center;
}

.right-menu-info--icon {
  cursor: pointer;
}

.menu-line {
  position: relative;
}



.main-menu-item {
  transition: all ease-in-out 0.2s;
}

.main-menu-item:hover {
  color: #cba25e;
}


.main-menu-item p {
  width: 100%;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}



.sidenav .mobile-main-menu a.nemu-name {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.open-close {
  width: 15px;
  height: 15px;
  position: relative;
  margin-right: 20px;
  ;
  transition: all ease 0.3s;
}

.open-close:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 7px;
  transition: all ease 0.3s;
}

.open-close:before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: center;
  top: 7px;
}


.mobile-main-menu.open .open-close:before {
  transform: rotate(0deg);
  transform-origin: center;
}

@media screen and (max-width: 1680px){
  .footer-top{}
}

@media screen and (max-width: 1650px) {
  .inform-banner {
    height: auto;
    width: 386px;
  }

  .menu-illustrations {
    left: auto;
    right: 23%;
  }

}


@media screen and (max-width: 1650px) {
  .logo-link {
    margin-right: 33px;
  }

  .brands-line-name {
    margin-right: 4px;
  }

  .wrp-brand {
    margin-right: 5px;
  }
}

@media screen and (max-width: 1500px) {
  .menu-illustrations {
    display: none;
  }

  .inform-banner:before {
    left: 7px;
  }

  .wrp-brand {
    max-width: 185px;

    svg {
      max-width: 100%;
    }
  }


}


@media screen and (max-width:1350px) {
  .left-menu {
    align-items: center;
    display: flex;
    flex-flow: wrap;
  }
  .open-menu {
    height: 22px;
    margin-right: 40px;
    width: 31px;
    margin-top: 11px;
  }

  .brands-line-name {
    margin-right: 14px;
    width: 61px;
    text-align: left;;
    line-height: 16px;;
  }

  .top-margin svg {
    margin-top: -8px;
  }
  .wrp-brand {
    max-width: 152px;
    &.opet{
      svg{
        max-width: 100px;;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-menu {
    display: none;
  }

  .brands-line-name {
    margin-right: 4px;

  }
//   .pluses-li {
//     padding: 27px 25px;
//     width: 346px;
// }

}

@media screen and(max-width: 1150px){
  .brands-line{
    flex-flow: wrap;
    // width: 400px;
  }
  .wrp-brand {
    max-width: 143px;
}

}

@media screen and (max-width: 1090px){


  .l-header:after{
    // display: none;
    left: 15px;
  }
  // .brands-line {
  //   flex-flow: wrap;
  // }
  .logged.active .right-menu-info {
    .cbinet-info-popup {
      top:40px;
    }
  }
  .wrp-brand {
    max-width: 110px;
    height: 50px;
}
.top-margin {
  svg{

    margin-top: -17px;
  }
}
}

@media screen and (max-width: 980px){
  .wrp-brand {
    margin-right: 0px;
  }
  .brands-line-name {
    width: 65px;
}
}

@media screen and (max-width: 920px) {
  .personal-cabinet {
    margin-right: 12px;
  }

  .search.active .input {
    background-color: hsla(0, 0%, 100%, 1);
    border: 1px solid #d5d5d5;
  }

  .search-btn {
    left: 8px;
  }
  .wrp-brand {
    margin-right: 0px;
  }
  // .menu-line {
  //   padding: 20px 15px 165px;
  //   height: 70px;

  // }

  .l-header.no-margin-bottom {
    margin-bottom: 0px;
  }
  .logo-link {
    margin-right: 10px;
  }

}

@media screen and (max-width: 890px){
  .wrp-brand{
    max-width: 96px;
    padding: 5px 6px;
  }
  .top-margin svg {
    margin-top: -12px;
}
}


@media screen and (max-width: 860px){
  .brands-line {
    position: absolute;
    top: 81px;
  }
  .l-header.main-header {

    padding-bottom: 28px;
}
  .brands-line-name{
    display: block;
    text-align: left;
  }
  // .menu-line {
  //   padding-bottom: 105px;
  // }

  .l-header:after {
    bottom: -37px;
    height: 2px;
    left: 47px;
    width: 88%;
  }
  .l-header{
    margin-bottom: 31px;;
  }

  .brands-line-name{
    width: auto;
  }
  

}

@media screen and (max-width: 780px) {
  .sidenav {
    // width: 100%;
    z-index: 9999999;
  }


  // .menu-line {
  //   background-color: transparent;
  //   height: 60px;
  //   margin-bottom: 15px;
  // }

  .cart-amount {
    border: 3px solid #eee;
  }

  .l-header {
    // position: sticky;
    top: 0px;
    z-index: 9999;
    /* border-bottom: 1px solid #ccc; */
    // box-shadow: -3px 4px 15px #cccccc42;
  }
  // .brands-line-name{
  //   width: 100%;
  // }
  // .brands-line {
  //   flex-flow: wrap;
  //   justify-content: flex-start;
  // }
  // .wrp-brand {
  //   max-width: 185px;
  //   width: 135px;
  //   height: 52px;
  //   margin-right: 5px;
  //   padding: 1px 7px;
  // }

}

@media screen and (max-width: 760px){
  .l-header{
    margin-bottom: 46px;;
  }
}

@media screen and(max-width:660px){
  .brands-line {
    justify-content: flex-start;
}
  .wrp-brand {
    max-width: 105px;
    width: 105px;
    height: 52px;
    margin-right: 5px;
    padding: 1px 7px;
  }
  .wrp-brand {
    height: 47px;
    margin-right: 3px;
    max-width: 105px;
    padding: 1px 4px;
    width: 85px;
}
.top-margin svg {
  margin-top: -10px;
}
}


@media screen and (max-width: 580px) {
  .l-header.main-header {

    padding-bottom: 0px;
}
  
  .wrp-brand {
      height: 41px;
      margin-right: 5px;
      max-width: 185px;
      padding: 7px 2px;
      width: 80px;
  }
  .brands-line-name{
    padding-left: 8px;;
  }
  .open-menu {
    height: 22px;
    margin-right: 20px;
  }
  .cart-icon{
    margin-right: 20px;;
  }
  form.search-bar {
    margin-right: 14px;
  }
  .right-menu-info {
    justify-content: flex-end;
    position: absolute;
    right: 15px;
    padding-top: 9px;
  }
  .menu-line {
    height: 70px;
    padding: 36px 15px 152px;
  }
  form.search-bar{
    right: 75px;
  }

  .top-margin {
    margin-top: -5px;
  }
  .wrp-brand.kramer svg {
    height: 34px;
  }
  .brands-line{

    justify-content: flex-start;
  }
  .menu-line {
    // height: 70px;
    padding: 36px 15px 138px;
    }
    .brands-line-name {
      display: block;
      width: 100%;
      font-weight: 700;
      text-align: left;
      
  }
  .top-margin svg {
    margin-top: -3px;
  }
  .l-header:after {
    border-bottom: 1px solid #bebebe;
    bottom: 28px;
    content: "";
    display: block;
    height: 2px;
    left: 13px;
    position: absolute;
    width: 91%;
  }
  .brands-line {
    // position: absolute;
    top: 75px;
  }
  .l-header {
    margin-bottom: 6px;
}

}


@media screen and (max-width: 368px){
  .wrp-brand {
    width: 70px;
  }
}