extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const IsOrder = true;

block header
  include components/header/_header

block main
  include components/main/_order

block footer
  include components/footer/_footer
  include components/main/_cart