extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const IsPersonal = true;
  - let logged = true;

block header
  include components/header/_header

block main
  include components/main/_personal-data

block footer
  include components/main/_cart
  include components/footer/_footer