footer.l-footer
    .content 
        .footer-top
            .footer-top-item 
                p.footer-top-item-name.sbold-18 Графiк роботи:
                a(href="").footer-top-link
                    svg(width='22' height='22' viewbox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_39_2395)')
                            path(d='M11 0C4.92499 0 0 4.92499 0 11C0 17.075 4.92499 22 11 22C17.075 22 22 17.075 22 11C22 4.92499 17.075 0 11 0ZM11 20.1667C5.93751 20.1667 1.83334 16.0625 1.83334 11C1.83334 5.93751 5.93751 1.83334 11 1.83334C16.0625 1.83334 20.1667 5.93751 20.1667 11C20.1667 16.0625 16.0625 20.1667 11 20.1667Z' fill='#DF1B05')
                            path(d='M11.0003 3.66663C10.494 3.66663 10.0836 4.07702 10.0836 4.58328V10.0833H7.33364C6.82739 10.0833 6.41699 10.4937 6.41699 10.9999C6.41699 11.5062 6.82739 11.9166 7.33364 11.9166H11.0003C11.5065 11.9166 11.9169 11.5062 11.9169 10.9999V4.58332C11.9169 4.07706 11.5065 3.66663 11.0003 3.66663Z' fill='#DF1B05')
                        defs
                            clippath#clip0_39_2395
                                rect(width='22' height='22' fill='white')
                    span Пн-Пт: c
                        time 08.30 
                        | по 
                        time 17:00
            .footer-top-item 
                p.footer-top-item-name.sbold-18 Зв'язок з нами:
                a(href="telto:+380503059747").footer-top-link
                    svg(width='22' height='22' viewbox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_1_633)')
                            mask#mask0_1_633(style='mask-type:luminance' maskunits='userSpaceOnUse' x='-1268' y='-36' width='1920' height='6155')
                                path(d='M-1268 -36H652V6119H-1268V-36Z' fill='white')
                            g(mask='url(#mask0_1_633)')
                                mask#mask1_1_633(style='mask-type:luminance' maskunits='userSpaceOnUse' x='0' y='0' width='22' height='22')
                                    path(d='M0 0H22V22H0V0Z' fill='white')
                            g(mask='url(#mask1_1_633)')
                                path(d='M21.5727 17.4941L19.1327 15.8671L16.9657 14.4221C16.7638 14.2877 16.5187 14.2347 16.2794 14.2737C16.0401 14.3126 15.8244 14.4407 15.6756 14.6321L14.3336 16.3561C14.1941 16.5372 13.9943 16.6622 13.7705 16.7086C13.5467 16.7551 13.3137 16.7197 13.1137 16.6091C12.2037 16.1031 11.1276 15.6261 8.75165 13.2481C6.37665 10.8701 5.89665 9.7961 5.39165 8.8861C5.28069 8.68624 5.2451 8.45322 5.29134 8.22935C5.33758 8.00549 5.46259 7.80563 5.64365 7.6661L7.36965 6.3251C7.56107 6.17633 7.68912 5.96064 7.72807 5.72135C7.76703 5.48207 7.714 5.2369 7.57965 5.0351L6.17565 2.9341L4.50665 0.428098C4.36985 0.222692 4.15919 0.0778605 3.91842 0.0236732C3.67765 -0.0305142 3.42526 0.0101051 3.21365 0.137098L1.28665 1.2931C0.76665 1.5991 0.38365 2.0951 0.21765 2.6761C-0.30835 4.5961 -0.41535 8.8341 6.37565 15.6251C13.1656 22.4151 17.4037 22.3091 19.3247 21.7821C19.9058 21.6166 20.401 21.2338 20.7077 20.7131L21.8637 18.7871C21.9906 18.5755 22.0313 18.3231 21.9771 18.0823C21.9229 17.8416 21.7781 17.6309 21.5727 17.4941Z' fill='#DF1B05')
                        defs
                            clippath#clip0_1_633
                                rect(width='22' height='22' fill='white')
                    span +38 (050) 305-97-47
                a(href="telto:+380674822678").footer-top-link
                    svg(width='22' height='22' viewbox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_1_633)')
                            mask#mask0_1_633(style='mask-type:luminance' maskunits='userSpaceOnUse' x='-1268' y='-36' width='1920' height='6155')
                                path(d='M-1268 -36H652V6119H-1268V-36Z' fill='white')
                            g(mask='url(#mask0_1_633)')
                                mask#mask1_1_633(style='mask-type:luminance' maskunits='userSpaceOnUse' x='0' y='0' width='22' height='22')
                                    path(d='M0 0H22V22H0V0Z' fill='white')
                            g(mask='url(#mask1_1_633)')
                                path(d='M21.5727 17.4941L19.1327 15.8671L16.9657 14.4221C16.7638 14.2877 16.5187 14.2347 16.2794 14.2737C16.0401 14.3126 15.8244 14.4407 15.6756 14.6321L14.3336 16.3561C14.1941 16.5372 13.9943 16.6622 13.7705 16.7086C13.5467 16.7551 13.3137 16.7197 13.1137 16.6091C12.2037 16.1031 11.1276 15.6261 8.75165 13.2481C6.37665 10.8701 5.89665 9.7961 5.39165 8.8861C5.28069 8.68624 5.2451 8.45322 5.29134 8.22935C5.33758 8.00549 5.46259 7.80563 5.64365 7.6661L7.36965 6.3251C7.56107 6.17633 7.68912 5.96064 7.72807 5.72135C7.76703 5.48207 7.714 5.2369 7.57965 5.0351L6.17565 2.9341L4.50665 0.428098C4.36985 0.222692 4.15919 0.0778605 3.91842 0.0236732C3.67765 -0.0305142 3.42526 0.0101051 3.21365 0.137098L1.28665 1.2931C0.76665 1.5991 0.38365 2.0951 0.21765 2.6761C-0.30835 4.5961 -0.41535 8.8341 6.37565 15.6251C13.1656 22.4151 17.4037 22.3091 19.3247 21.7821C19.9058 21.6166 20.401 21.2338 20.7077 20.7131L21.8637 18.7871C21.9906 18.5755 22.0313 18.3231 21.9771 18.0823C21.9229 17.8416 21.7781 17.6309 21.5727 17.4941Z' fill='#DF1B05')
                        defs
                            clippath#clip0_1_633
                                rect(width='22' height='22' fill='white')
                    span +38 (067) 482 26 78
            .footer-top-item  
                p.footer-top-item-name.sbold-18 Наша пошта
                a(href="mailto:ugsmcom@gmail.com").footer-top-link
                    svg(width='31' height='22' viewbox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_39_2435)')
                            path(d='M0 11V21C0 21.5523 0.447715 22 1 22H30C30.5523 22 31 21.5523 31 21V1C31 0.447716 30.5523 0 30 0H1C0.447716 0 0 0.447715 0 1V11ZM27.4786 2.04041C27.4883 2.06549 26.1272 3.36725 23.0272 6.29907C15.8439 13.0906 16.4276 12.5457 16.2629 12.6255C15.7591 12.8672 15.1028 12.8238 14.6838 12.5206C14.5773 12.4431 4.57008 2.93409 3.78055 2.15896C3.72242 2.10197 3.68367 2.04497 3.69094 2.0313C3.70305 2.01306 7.01859 2.00622 15.5872 2.00622C26.1684 2.00622 27.4665 2.01078 27.4786 2.04041ZM6.10312 7.21554C8.24648 9.25824 10.0023 10.943 10.0023 10.9567C10.0023 10.9795 2.32984 18.3797 2.22086 18.4618C2.19906 18.48 2.17 18.4868 2.15547 18.4777C2.12883 18.4618 2.11914 3.59067 2.14578 3.52228C2.15547 3.50176 2.17 3.48808 2.18211 3.49264C2.1918 3.4972 3.95734 5.17057 6.10312 7.21554ZM28.8615 11.057C28.8663 15.7442 28.8591 18.4435 28.8445 18.4663C28.8252 18.4937 28.784 18.4663 28.6314 18.3181C26.6745 16.451 21.0703 11.0228 21.0752 11C21.0873 10.9453 28.7816 3.67275 28.8203 3.67731C28.8518 3.68187 28.8566 4.52083 28.8615 11.057ZM12.3758 13.1909C12.8359 13.624 13.2937 14.039 13.393 14.1096C14.0299 14.5702 14.8219 14.7959 15.6889 14.7662C16.2508 14.748 16.74 14.6317 17.2026 14.4106C17.6434 14.1985 17.7814 14.0914 18.6751 13.241C19.1861 12.7554 19.5276 12.4454 19.5518 12.4522C19.6027 12.4636 27.3454 19.9277 27.3357 19.9573C27.3284 19.9755 24.0105 19.9824 15.5097 19.9824C4.76383 19.9824 3.69336 19.9801 3.69336 19.9459C3.69336 19.9072 11.4748 12.4021 11.516 12.4021C11.5305 12.4021 11.9156 12.7577 12.3758 13.1909Z' fill='#DF1B05')
                        defs
                            clippath#clip0_39_2435
                                rect(width='31' height='22' fill='white')

                    span ugsmcom@gmail.com
            .footer-top-item 
                a(hfer="#").btn.btn-red.menu-btn
                    svg(width='20' height='22' viewbox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_1_648)')
                            mask#mask0_1_648(style='mask-type:luminance' maskunits='userSpaceOnUse' x='-1' y='0' width='22' height='22')
                                path(d='M21 0H-1V22H21V0Z' fill='white')
                            g(mask='url(#mask0_1_648)')
                                path(d='M19.7197 13.5853V5.69103L4.16815 2.88312V1.91262C4.16815 0.858012 3.31018 0 2.25557 0H0.280273V1.29596H2.25553C2.59555 1.29596 2.87219 1.5726 2.87219 1.91262V13.8789C2.87219 15.2603 3.99605 16.3842 5.3775 16.3842H5.8961V17.861C5.63133 17.745 5.33922 17.6801 5.03212 17.6801C3.84114 17.6801 2.87219 18.6491 2.87219 19.8401C2.87219 21.031 3.84114 22 5.03212 22C6.15024 22 7.07253 21.146 7.18122 20.0561H7.19206V16.3842H18.4237V17.861C18.159 17.745 17.8669 17.6801 17.5598 17.6801C16.3688 17.6801 15.3998 18.6491 15.3998 19.8401C15.3998 21.031 16.3688 22 17.5598 22C18.6779 22 19.6002 21.146 19.7089 20.0561H19.7197V15.0882H5.3775C4.71064 15.0882 4.16815 14.5457 4.16815 13.8789V13.3693L19.7197 13.5853ZM5.03212 20.704C4.55573 20.704 4.16815 20.3165 4.16815 19.8401C4.16815 19.3637 4.55573 18.9761 5.03212 18.9761C5.50852 18.9761 5.8961 19.3637 5.8961 19.8401C5.8961 20.3165 5.50852 20.704 5.03212 20.704ZM17.5598 20.704C17.0834 20.704 16.6958 20.3165 16.6958 19.8401C16.6958 19.3637 17.0834 18.9761 17.5598 18.9761C18.0362 18.9761 18.4237 19.3637 18.4237 19.8401C18.4237 20.3165 18.0362 20.704 17.5598 20.704ZM10.648 12.1632L8.05603 12.1272V4.90201L10.648 5.36998V12.1632ZM11.944 5.60399L14.3199 6.03299V12.2142L11.944 12.1812V5.60399ZM6.76007 12.1092L4.16815 12.0732V4.20003L6.76007 4.668V12.1092ZM18.4237 12.2712L15.6158 12.2322V6.26696L18.4237 6.77394V12.2712Z' fill='#DF1B05')
                        defs
                            clippath#clip0_1_648
                                rect(width='20' height='22' fill='white')
                    span До магазину B2B
        .footer-bottom 
            .copy
                | &#169; 2018 - 2023 ТОВ ЮГ-СМ.
            ul.socials 
                li.socials-li 
                    a(href="#")
                        svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='15' cy='15.0001' r='15' fill='#385696')
                            path(d='M16.795 25.1614V16.3327H19.7583L20.2025 12.8923H16.796V10.6956C16.796 9.6988 17.0718 9.02041 18.5002 9.02041L20.3225 9.01945V5.94203C19.4407 5.84871 18.5546 5.80348 17.6679 5.80654C15.0405 5.80654 13.2425 7.41009 13.2425 10.3549V12.8923H10.2715V16.3327H13.2425V25.1614H16.795Z' fill='white')
            .copy-mart
                a(href=" #") Розробка сайту
                span   — студія Март
.overflow-block


.login-part
    a.closebtn.closeCart.closeCabinetSidebar(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    .wrap-login.active
        .descr-name Вхід
        form.order-wrap.login-form
            p.order-header Ваші контактні дані
            .field-wrap
                .order-input
                    label(for="mailOrPhone") Ел. пошта чи мобільний телефон
                    input(type="text" id="Login" name="mailOrPhone")
                .order-input
                    label(for="Password") Пароль
                    input(type="text" id="password" name="Password")
                .check-block    
                    label.wrap-checkbox Не дзвоніть мені для уточнення замовлення
                        input(type="checkbox" name="checkbox") 
                        span.checkmark
                button.btn.btn-green Війти
                p.btn.register-link.triggerRegister Зареєструватись
    .wrap-register
        .descr-name Реєстрація
        form.order-wrap.login-form
            .field-wrap
                .order-input
                    label(for="regFirstName") Прізвище*
                    input(type="text" id="regFirstName" name="regFirstName")
                .order-input
                    label(for="regLastName") Ім'я*
                    input(type="text" id="regLastName" name="regLastName")
                .order-input
                    label(for="regEMail") Електронна пошта
                    input(type="e-mail" id="regEMail" name="regEMail")
                .order-input
                    label(for="regPass") Придумайте пароль
                    input(type="password" id="regPass" name="regPass")
                .check-block    
                    label.wrap-checkbox Не дзвоніть мені для уточнення замовлення
                        input(type="checkbox" name="checkbox") 
                        span.checkmark
                p.rule-link Реєструючись, ви погоджуєтесь з 
                    a(href="#") умовами положення про збір та захист персональних даних та користувальницькою угодою        
                button.btn.btn-green Зареєструватись
                p.btn.btn-empty.register-link.triggerLogin Я вже зареєстрований
