script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(src='./js/plugins/slick/slick.js')
script(src=jsPath + "main.js" defer)

if IsMain 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
    script(src="./js/main-page.js" defer)

if Iscatalog
    script(src="./js/noUiSlider/nouislider.min.js" defer)
    script(src="./js/catalog.js" defer)

if IsOne 
    script(src="./js/one.js" defer) 

if IsCart
    script(src="./js/cart.js" defer) 

if IsOrder 
    script(src="./js/order.js" defer)

if IsContent 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
    script(src="./js/content.js" defer)

if IsPersonal
    script(src="./js/personal.js" defer)