.cart-right
    a.closebtn.closeCart.closeRightSidebar.closeRightSidebar2(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    .descr-name Корзина
    .cards
        .mobile-table-inner.border-b.right-cart-show
            .img-wrap 
                img(src="https://content1.rozetka.com.ua/goods/images/big/315505940.jpg", alt="")
            .information 
                a(href="#") ABRO Антигель - 47 946мл/568л
                .counter-wrap 
                    .counter-nav.counter-minus 
                    .counter-number 1
                    .counter-nav.counter-plus
                .price 
                    span.originPrice 400
                    span ₴
                .delete-img
        .mobile-table-inner.border-b.right-cart-show
            .img-wrap 
                img(src="./img/illustrations/often/3.png", alt="")
            .information 
                a(href="#") ABRO Антигель
                .counter-wrap 
                    .counter-nav.counter-minus 
                    .counter-number 1
                    .counter-nav.counter-plus
                .price 
                    span.originPrice 400
                    span ₴
                .delete-img
        .mobile-table-inner.border-b.right-cart-show
            .img-wrap 
                img(src="./img/illustrations/often/1.png", alt="")
            .information 
                a(href="#")  946мл/568л
                .counter-wrap 
                    .counter-nav.counter-minus 
                    .counter-number 1
                    .counter-nav.counter-plus
                .price 
                    span.originPrice 400
                    span ₴
                .delete-img
    .submit-block.t 
        p.sale 
            | Знижка 
            span 190 грн
        p.toPay 
            | Разом до оплати
        p.totalSum 
            | 3999 грн. 
        button.btn.btn-green.form ОФОРМИТИ ЗАМОВЛЕННЯ 