.cart-right
    a.closebtn.closeCart.closeRightSidebar.closeRightSidebar2(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    .descr-name Корзина
    .cards 
        a(href="# ").card
            .wraps-tips
                span.action акція
                span.hit хіт
            .card-img-wrap 
                img(src="./img/illustrations/often/3.png", alt="oli").card-img
            p.card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
            .bottom-info
                .prices 
                    span.new-price 156.00 ₴
                    span.old-price 765.00 ₴
        a(href="# ").card
            .wraps-tips
                span.hit хіт
            .card-img-wrap 
                img(src="./img/illustrations/often/2.png", alt="oli").card-img
            p.card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
            .bottom-info
                .prices 
                    span.new-price 156.00 ₴
                    span.old-price 765.00 ₴
    .submit-block 
        p.sale 
            | Знижка 
            span 190 грн
        p.toPay 
            | Разом до оплати
        p.totalSum 
            | 3999 грн. 
        button.btn.btn-green.form ОФОРМИТИ ЗАМОВЛЕННЯ
        button.btn.empty-btn.one-click-buy КУПИТИ В 1 КЛІК