.catalog-page
    .wrapper
        .content
            .often-find() 
                //- h3.h3.catalog-name Yuko
                .swiper                    
                    .swiper-button-prev
                    .swiper-button-next
                    ul.brand-popular-wrap.brand-slider.swiper-wrapper 
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="https://content2.rozetka.com.ua/goods/images/big/12051866.jpg", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Моторні олії
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="https://content1.rozetka.com.ua/goods/images/big/245151910.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Змащення автомобільні
                        li.brand-popular-item.swiper-slide.active
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="https://content1.rozetka.com.ua/goods/images/big/315505940.jpg", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Моторні олії
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="./img/illustrations/brand/oil2.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Змащення автомобільні
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="./img/illustrations/brand/oil3.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Ланцюгові масла
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="./img/illustrations/brand/oil1.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Змащення автомобільні
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="./img/illustrations/brand/oil3.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Моторні олії
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="./img/illustrations/brand/oil1.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Моторні олії
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="./img/illustrations/brand/oil2.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Змащення автомобільні
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="./img/illustrations/brand/oil3.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Ланцюгові масла
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="./img/illustrations/brand/oil1.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Змащення автомобільні
                        li.brand-popular-item.swiper-slide
                            .brand-popular-link 
                                .brand-popular-img-wrap 
                                    img(src="./img/illustrations/brand/oil3.png", alt="").often-find-img           
                                a(href="#").brand-popular-name 
                                    | Моторні олії
            h3.h3.catalog-name Yuko
            .wrp-filters
                .filter-line
                    p.filter-header Обрано 
                        span 4000 
                        | товарів
                    .filter-item 
                        img(src="./img/icons/filteradd.svg", alt="")
                    .filter-item.hide-mob(data-filterName="exist")
                        p.filter-item-name Наявність
                        span.num 
                    .filter-item.hide-mob(data-filterName="price")
                        p.filter-item-name Цінa
                        span.num 
                    .filter-item.hide-mob(data-filterName="capacity")
                        p.filter-item-name Місткість
                        span.num 
                    .filter-item.hide-mob(data-filterName="viscosity")
                        p.filter-item-name В'язкість
                        span.num 
                .sort-block
                    .sort-catalog.custom-select
                        //- img.sort-img(src="./img/icons/arrow-down.svg", alt="")
                        select#sort(name='sort')                           
                            option(value='cheap') Спочатку дешеві
                            option(value='expensive') Спочатку дорогі
                            option(value='new') Спочатку нові
                            option( value='old') Спочтаку старі
                            option( value='actions') Акційні
            .wrap-catalog-block 
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="https://content1.rozetka.com.ua/goods/images/big/315505940.jpg", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне паливо
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="https://content1.rozetka.com.ua/goods/images/big/245151910.png", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptate maxime nesciunt, est ducimus iure consequatur iusto laboriosam 
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="https://content1.rozetka.com.ua/goods/images/big/10749194.jpg", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="https://content1.rozetka.com.ua/goods/images/big/330945267.jpg", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="https://content.rozetka.com.ua/goods/images/big/321242804.jpg", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="./img/illustrations/oli1.png", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="./img/illustrations/oli1.png", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="./img/illustrations/oli1.png", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="./img/illustrations/oli1.png", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                .card
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .card-img-wrap 
                        img(src="./img/illustrations/oli1.png", alt="oli").card-img
                    a(href="#").card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
            .group-catalog-buttons
                button.empty-btn Завантажити ще
                .group-pages 
                    button.page-btn 1  
                    button.page-btn.active 2 
                    button.disable(disabled) ... 
                    button.page-btn 8
                    button.page-btn 9 

.filter-right
    a.closebtn.closeRightSidebar(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    .catalog-filter-item
        p.filter-name Фільтр
        ul.common-checks                
            li
                label.wrap-checkbox.normal-text Акції
                    input(type='checkbox' value='' name='' data-id='') 
                    span.checkmark   
            li
                label.wrap-checkbox.normal-text Хіти
                    input(type='checkbox' value='' name='' data-id='') 
                    span.checkmark
            li
                label.wrap-checkbox.normal-text сезоний товар
                    input(type='checkbox' value='' name='' data-id='') 
                    span.checkmark
            li
                label.wrap-checkbox.normal-text Розпродаж
                    input(type='checkbox' value='' name='' data-id='') 
                    span.checkmark
        
    .price-range.catalog-filter-item(data-CatalogFilterName="price")
        div.mobile-main-menu
            a(href="#").nemu-name.block-name Ціна
                span.open-close
            ul.hidden-mobile-submenu    
                li
                    .slider-inputs
                        input#input-with-keypress-0(type='text')
                        input#input-with-keypress-1(type='text')
                    #steps-slider
    .catalog-filter-item(data-CatalogFilterName="exist")
        div.mobile-main-menu
            a(href="#").nemu-name.block-name Наявність
                span.open-close
            ul.hidden-mobile-submenu
                li
                    label.wrap-checkbox.normal-text В наявності
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                li
                    label.wrap-checkbox.normal-text Всі
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
    .catalog-filter-item(data-CatalogFilterName="capacity")
        div.mobile-main-menu
            a(href="#").nemu-name.block-name Місткість, л
                span.open-close
            ul.hidden-mobile-submenu
                li
                    label.wrap-checkbox.normal-text 1.1-4
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount (1)
                li
                    label.wrap-checkbox.normal-text 1.1-4
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 6
                li
                    label.wrap-checkbox.normal-text 1.1-4
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 
    .catalog-filter-item(data-CatalogFilterName="viscosity")
        div.mobile-main-menu
            a(href="#").nemu-name.block-name В'язкість по SAE
                span.open-close
            ul.hidden-mobile-submenu
                li
                    label.wrap-checkbox.normal-text 1.1-4
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 1
                li
                    label.wrap-checkbox.normal-text 1.1-4
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 6
                li
                    label.wrap-checkbox.normal-text 1.1-4
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 


 
    .filter-btn 
        button.btn.btn-green Застосувати
        button.btn.btn-empty Скинути
