.content-page
    .content-page-header
        .content
            .breadcrumps-white.breadcrumps 
                a(href="#").back-to-main 
                    img(src="./img/icons/arrow-left-white.svg", alt="")
                    span Повернутись до головної
                ul.bread 
                    li.bread-li 
                        a(href="#").bread-a Каталог
            .oils-brand-name
                | Opet Lubricants
            .oils-brand-describe 
                 | Технічний супровід - невід’ємний інструмент справжніх спеціалістів у сфері змащувальних матеріалів   
    .main-content-container 
        .content
            .block-of-first-description 
                .texts-part(class="wow fadeIn" data-wow-delay="0.4s") 
                    h2  Opet надає безкоштовний сервіс професійної діагностики Fullcheck LAB
                    p.normal-text 
                        | Послуга дозволяє визначати на постійній основі не лише стан вузлів різноманітної техніки, а й відслідковувати залишковий ресурс мастильних матеріалів та технічних рідин та отримувати додаткові переваги.
                .illustrations-block(class="wow fadeIn" data-wow-delay="0.4s") 
                    .img-wr 
                        img(src="../img/illustrations/bigopet.jpg", alt="#")
            .image-place(class="wow fadeInUp" data-wow-delay="0.4s") 
                img(src="../img/illustrations/motor.jpg", alt="")
            h2(class="wow fadeInUp" data-wow-delay="0.4s") Ми запровадили низку постійно діючих програм, у яких фахівці відділу технічної підтримки ТОВ «СП ЮКОЙЛ» надають оперативну та професійну консультацію за такими напрямками:
            ul.ways-ul(class="wow fadeInUp" data-wow-delay="0.4s") 
                li.ways-li Підбір продуктів YUKO відповідно до рекомендацій виробників техніки (транспортні засоби, промислове обладнання);
                li.ways-li Підбір аналогів мастильних матеріалів YUKO до продукції інших виробників;
                li.ways-li Надання документації на продукцію YUKO: технічні описи, паспорти якості, відгуки споживачів;
                li.ways-li Організація навчальних заходів з мастильних матеріалів;
                li.ways-li Проведення аудиту на підприємстві з метою оптимального та безпечного використання асортименту продукції клієнтів;
                li.ways-li Організація та проведення випробувань мастильних матеріалів YUKO у транспортних засобах та промисловому обладнання.
            h2.center-it(class="wow fadeInUp" data-wow-delay="0.4s")  OPET, виробничі потужності якого знаходяться в місті Ізмір, Туреччина, випускає майже всі види технічних рідин для техніки: 
            .oil-types
                .oil-card(class="wow fadeIn" data-wow-delay="0.4s") 
                    p.oil-header Моторні оливи
                    p.oil-text Для легкових та вантажних автомобілів, що відрізняються зменшеною витратою пального, низькою токсичністю вихлопу та збільшеними сервісними інтервалами.
                    p.oil-text В асортименті є всесезонні та сезонні оливи.
                
                .oil-card(class="wow fadeIn" data-wow-delay="0.5s")  
                    p.oil-header Трансмісійні оливи
                    p.oil-text Для всіх видів коробок передач та допоміжних редукторів. 

                .oil-card(class="wow fadeIn" data-wow-delay="1s")  
                    p.oil-header Універсальні тракторні оливи
                    p.oil-text Для застосування в двигунах, трансмісіях, «мокрих» гальмах та турбомуфтах тракторів та іншої сільськогосподарської та будівельної техніки.

                .oil-card(class="wow fadeIn" data-wow-delay="0.9s")  
                    p.oil-header Антифризи
                    p.oil-text З подовженим інтервалом заміни.

                .oil-card(class="wow fadeIn" data-wow-delay="1.5s")  
                    p.oil-header Гідравлічні оливи

                .oil-card(class="wow fadeIn" data-wow-delay="2s")  
                    p.oil-header Гальмівні рідини  
            .block-of-first-description.second-description(class="wow fadeIn" data-wow-delay="0.4s")  
                .illustrations-block 
                    .img-wr.video-block 
                        iframe(src='https://www.youtube.com/embed/OXNkemEjgWk' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')

                .texts-part 
                    h2  OPET – одна з найбільших нафтопереробних компаній Туреччини 
                    p.normal-text 
                        | Основними видами діяльності Opet є виробництво та реалізація пального, а також моторних масел та інших засобів для догляду за автомобілями, мотоциклами та іншими видами техніки.
                    p.normal-text 
                        | Компанія виробляє змащувальні матеріали вже понад 60 років, а новий завод OPET Lubricants був введений у промислову експлуатацію восени 2019 року і є одним із найсучасніших заводів у Європі.   На цій фабриці випускається оригінальні оливи та технічні рідини FMY для Ford Truck, Opar Olio для Tofas, Agromega, Megatran та Agrofriz для сільськогосподарської техніки Case New Holland.  
                    p.normal-text 
                        | Мастильні матеріали OPET мають міжнародні сертифікати відповідності ACEA та API, та експортуються до більш ніж 25 країн світу.
    .back-img.back-img-left  
        img(src="./img/illustrations/nack-img.png", alt="")
    .back-img.back-img-bottom  
        img(src="./img/illustrations/nack-img-b.png", alt="")