.one-item-block 
    .content
        .breadcrumps 
            a(href="#").back-to-main 
                img(src="./img/icons/arrow-left.svg", alt="")
                span Повернутись до головної
            ul.bread 
                li.bread-li 
                    a(href="#").bread-a Каталог
                li.bread-li 
                    a(href="#").bread-a YUKO   
                li.bread-li 
                    a(href="#").bread-a Олії для генератора

        .one-item-wrap
            .left-part 
                .container-for-image
                    .wraps-tips
                        span.action акція
                        span.season сезон
                        span.hit хіт
                    .one-item-image
                        img(src="https://content1.rozetka.com.ua/goods/images/big/245151910.png", alt="")

            .right-part 
                h4.h4 Master Synt 4T 10W-30 API SL/CF 1л генераторне
                p.little-gray-text.articul Артикул: 35695548
                .prices
                     .newPrice 
                        span.price-num 45450 
                        span.price-currency &nbsp;₴
                        
                     .oldPrice 
                        span 7806778
                        span.price-currency ₴
                .description-block
                    .description-row 
                        .name Місткість, л
                        .dots 
                        .details 1 
                    .description-row 
                        .name В'язкість по SAE
                        .dots 
                        .details 10W-30
                    .description-row 
                        .name Тип двигуна
                        .dots 
                        .details Бензиновий
                    .description-row 
                        .name Тип основи олії
                        .dots 
                        .details 10W-30


                button.btn.btn-green.button-black.addToCart Додати в кошик
                .descriptions
                    p.description-text.info-trigger.tablinks(onclick="openDes(event, 'description')")
                        | Oпис та характеристики                            
                    p.description-text.info-trigger.tablinks(onclick="openDes(event, 'sendAndPay')")
                        | Доставка та оплата
                    p.description-text.info-trigger.red-tab.tablinks(onclick="openDes(event, 'actions')")
                        | Умови акції
        .last-seen-block
            h3.h3.block-name Хіт продаж
            .last-seen-slid.side-custom-arrows
                a(href="# ").card
                    span.action акція
                    .card-img-wrap 
                        img(src="https://content1.rozetka.com.ua/goods/images/big/245151910.png", alt="oli").card-img
                    p.card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                a(href="# ").card
                    span.action акція
                    .card-img-wrap 
                        img(src="https://content1.rozetka.com.ua/goods/images/big/315505940.jpg", alt="oli").card-img
                    p.card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                a(href="# ").card
                    span.action акція
                    .card-img-wrap 
                        img(src="https://content2.rozetka.com.ua/goods/images/big/12051866.jpg", alt="oli").card-img
                    p.card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                a(href="# ").card
                    span.action акція
                    .card-img-wrap 
                        img(src="https://content1.rozetka.com.ua/goods/images/big/245151910.png", alt="oli").card-img
                    p.card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                a(href="# ").card
                    span.action акція
                    .card-img-wrap 
                        img(src="./img/illustrations/oli1.png", alt="oli").card-img
                    p.card-name Master Synt 4T 10W-30 API SL/CF 1л генераторне
                    .bottom-info
                        .prices 
                            span.new-price 156.00 ₴
                            span.old-price 765.00 ₴
                        .add-to-cart  
                            svg(width='29' height='24' viewbox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.07758 6.6369C8.46572 6.6369 7.95001 7.09339 7.87575 7.70073L6.56446 18.4248C6.47622 19.1464 7.03931 19.7826 7.76629 19.7826H21.9082C22.6352 19.7826 23.1983 19.1464 23.11 18.4248L21.7987 7.70073C21.7245 7.09339 21.2088 6.6369 20.5969 6.6369H9.07758Z' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='round')
                                path(class="inner-path" d='M18.213 8.28005C18.213 7.80023 18.213 5.66677 18.213 5.18695C18.213 3.26498 16.7019 1.70721 14.8374 1.70721C12.973 1.70721 11.4619 3.26498 11.4619 5.18695C11.4619 5.66677 11.4619 7.80023 11.4619 8.28005' stroke='#1A984F' stroke-width='1.21079' stroke-miterlimit='10' stroke-linecap='square')
                





                     
.info-right
    a.closebtn.closeRightSidebar(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    .description-text-info.tabcontent#description
        .descr-name Опис та характеристики
        .descr-text 
            | Оливи на основі синтетичних речовин – це оливи, отримані хімічним шляхом. Вони виготовлюються з метою змащування поверхонь, де отримані традиційним шляхом мінеральні оливи є недостатньо ефективними. 
        ul.right-info-list 
            p.right-info-list-name Як використовувати?
            li.right-info-list-item Їх можна наносити безпосередньо на підшипник за допомогою ручного або повітряного насосу. 
        ul.right-info-list 
            p.right-info-list-name Яка мета змащування?
            li.right-info-list-item  зменшення тертя шляхом роз’єднання двох поверхонь одну від одної;
            li.right-info-list-item забезпечити охолодження;
            li.right-info-list-item попередити виникнення корозії
        
    .description-text-info.tabcontent#sendAndPay
        .descr-name Доставка і оплата
        .descr-text 
            | Своєчасна і комфортна доставка
        ul.right-info-list 
            p.right-info-list-name Служби доставки
            li.right-info-list-item Нова пошта
            li.right-info-list-item Укрпошта
            li.right-info-list-item Justin
    .description-text-info.tabcontent#actions
            .descr-name Умови акції
            .descr-text 
                | Основні положення
            .descr-text 
                | Деяка інформація
            ul.right-info-list 
                p.right-info-list-name діє до 20 липня 2024 року
                li.right-info-list-item Тількі на вказані товари
                li.right-info-list-item Пвернути можна

